body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2937;
    margin-left: 0px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-weight: bold;
    color: #f9faf8;
}

.title-one {
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}

li {
    display: inline;
    color: #f9faf8;
    padding-left: 15px;
}

.sec-one {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    padding: 0px;
}

.left {
    padding-right: 20px;
}

.sec-one .text {
    color: #f9faf8;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    padding: 5px 30px 5px 30px;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
}

.sec-two {
    padding: 30px 0px 30px 0px;
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    margin-top: 30px;
    display: flex;
}

.sec-two p{
    text-align: center;
}

.title-two {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

